{% extends 'base.html.twig' %}

{% block title %}Administration du site{% endblock %}

{% block body %}



    <h1>Hello Administrateur! ✅</h1>

<div>
    <ul>
        <li><a href="{{ path('campus_index') }}">Accès Campus</a></li>
        <li><a href="{{ path('etat_index') }}">Accès Etat</a></li>
        <li><a href="{{ path('lieu_index') }}">Accès Lieu</a></li>
        <li><a href="{{ path('participant_index') }}">Accès Participant</a></li>
        <li><a href="{{ path('admin_sortie') }}">Accès Sortie</a></li>
        <li><a href="{{ path('admin_ville_index') }}">Accès Ville</a></li>
        
    </ul>



</div>

{% endblock %}
