{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}




    {% include 'sortie/_testons_form.html.twig' %}

    {% for message in app.flashes('succes') %}
        <div class="flash-succes">
            {{ message }}
        </div>
    {% endfor %}
<div class="overflow-auto h-60">
    <table class="table mx-auto ">
        <thead class="bg-white">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Inscrit ?</th>
                <th>Infos Sortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
        <td>{{ sortie.nom }}</td>
        <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ sortie.participants.count}} / {{ sortie.nbInscriptionsMax }}</td>
        <td>{{ sortie.etat.libelle }}</td>
                <td><a class="link" href="{{ path('participant_show', {'id': sortie.organisateur.id }) }}">{{ sortie.organisateur.nom}}</a></td>
                <td> {% if app.user in sortie.participants %} oui {% else %} non {% endif%} </td>
                <td>{{ sortie.infosSortie }}</td>
        <td>
                <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    {#
                     A remettre quand on aura corrigé la vue. Trop sensible de la laisser en l'état
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">modifier</a>

                    #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <button class="btn"><a href="{{ path('sortie_new') }}">Créer une nouvelle sortie</a></button>


{% endblock %}
