{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}

    {# Vue mobile #}

    <div class="md:hidden">
        <li>Nom : {{ sortie.nom }}</li>
        <li>Date et Heure : {{ sortie.dateHeureDebut|date('d-m-Y H:i') }}</li>
        <li>Ville : {{ sortie.lieu.ville.nom }}</li>
        <li>Lieu : {{ sortie.lieu.nom }}</li>
        <li>Rue : {{ sortie.lieu.rue }}</li>
        <li>Code Postal : {{ sortie.lieu.ville.codePostal }}</li>
        <li>Latitude : {{ sortie.lieu.latitute }}</li>
        <li>Longitude : {{ sortie.lieu.longitude }}</li>
        <li>Clôture : {{ sortie.dateLimiteInscription|date('d-m-Y H:i') }}</li>
        <li>Nombre de places : {{ sortie.nbInscriptionsMax }}</li>
        <li>Durée : {{ sortie.duree*60 }} minutes</li>
        <li>Infos : {{ sortie.infosSortie }}</li>

        <div>Liste des inscrits
            <table class="table-compact">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Ville</th>
                </tr>
                </thead>
                <tbody>
                {% if sortie.participants %}
                {% for participant in sortie.participants %}
                <tr>
                    <td>{{ participant.nom }}</td>
                    <td> {{ participant.campus.nom}} </td>
                </tr>
                </tbody>
                {% endfor %}
                {% endif %}

            </table>
        </div>

    </div>


<div class="hidden md:table md:mx-auto">
    <h1 class="text-3xl text-center">{{ sortie.nom }}</h1>

    <table class="table p-4 mx-auto">
        <tbody>

        <tr>
            <th>Organisateur</th>
            <td><a class="link" href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}"> {{ sortie.organisateur.pseudo }}</a></td>
        </tr>


        <tr>
            <th>Participants</th>

                <td>
                    {% for participant in sortie.participants %}
                    <a class="link" href="{{ path('participant_show', {'id': participant.id}) }}">{{ participant.pseudo }} </a>
                    {% else %}
            Personne, c'est trop la tristesse
            {% endfor %}
                </td>

        </tr>

            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }} h</td>
            </tr>


            <tr>
                <th>Date de la sortie</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : '' }}</td>
            </tr>

            <tr>
                <th>Date Limite Inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i') : '' }}</td>
            </tr>


            <tr>
                <th>Places disponibles</th>
                <td>{{ sortie.nbInscriptionsMax - sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Infos</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
        <tr>
            <th>Etat</th>
            <td>{{ sortie.etat.libelle }}</td>
        </tr>
        </tbody>
    </table>


{% if app.user == sortie.organisateur and sortie.etat.libelle == 'En création' %}

    <a href={{ path('sortie_edit', {'id':sortie.id}) }}>Modifier</a>


    {% endif %}
{% if app.user not in sortie.participants %}
{% if  sortie.etat.libelle == 'Ouverte' %}
    {{ include('sortie/_inscription_form.html.twig') }}
    {% endif %}
    {% else %}
        {{ include('sortie/_desinscription_form.html.twig') }}
{% endif %}
    {{ include('sortie/_delete_form.html.twig') }}

    {% if app.user == sortie.organisateur and sortie.etat.libelle == 'En création' %}
        {{ include('sortie/_ouvrir_form.html.twig') }}
    {% endif %}

    {% if (app.user == sortie.organisateur and (sortie.etat.libelle == 'En création' or sortie.etat.libelle == 'Ouverte')) or is_granted("ROLE_ADMIN") %}
        {{ include('sortie/_annuler_form.html.twig') }}
    {% endif %}

</div>
{% endblock %}
