{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}

    {{ include('sortie/_testons_form.html.twig') }}

    <h1 class="text-3xl text-center">{{ sortie.nom }}</h1>

    <table class="table p-4 mx-auto">
        <tbody>

        <tr>
            <th>Organisateur</th>
            <td><a class="link" href="{{ path('participant_show', {'id': sortie.organisateur.id}) }}"> {{ sortie.organisateur.pseudo }}</a></td>
        </tr>


        <tr>
            <th>Participants</th>

                <td>
                    {% for participant in sortie.participants %}
                    <a class="link" href="{{ path('participant_show', {'id': participant.id}) }}">{{ participant.pseudo }} </a>
                    {% else %}
            Personne, c'est trop la tristesse
            {% endfor %}
                </td>

        </tr>

            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }} h</td>
            </tr>


            <tr>
                <th>Date de la sortie</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : '' }}</td>
            </tr>

            <tr>
                <th>Date Limite Inscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i') : '' }}</td>
            </tr>


            <tr>
                <th>Places disponibles</th>
                <td>{{ sortie.nbInscriptionsMax - sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Infos</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
        <tr>
            <th>Etat</th>
            <td>{{ sortie.etat.libelle }}</td>
        </tr>
        </tbody>
    </table>

{% if app.user == sortie.organisateur and sortie.etat.libelle == 'En création' %}

{{ include('sortie/edit.html.twig') }}


    {% endif %}
{% if app.user not in sortie.participants %}

    {{ include('sortie/_inscription_form.html.twig') }}
    {% else %}
        {{ include('sortie/_desinscription_form.html.twig') }}
{% endif %}
    {{ include('sortie/_delete_form.html.twig') }}

    {% if app.user == sortie.organisateur and (sortie.etat.libelle == 'En création' or sortie.etat.libelle == 'Ouverte') %}
        {{ include('sortie/_annuler_form.html.twig') }}
    {% endif %}

{% endblock %}
