<!doctype html>
<html lang="en" class="bg-base-300 border-8" data-theme="lofi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
   {# <link rel="stylesheet" href="{{ asset('css/app.css') }}">#}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.25.4/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <title>Projet Symfony</title>


</head>
<body class="container mx-auto m-10 border-base-300 border-8 rounded-box p-2 bg-neutral max-w-max">

    <header class="container mb-2 rounded-box ">
        <div class="container mb-2 flex items-center rounded-box">
         {%  if app.user %}
            <a class="flex w-1/5 " href="{{ path("sortie_index") }}"><img src="{{ asset("image/logoEni.png") }}" alt="Sortir.com"></a>
            {% else %}
        <a class="flex w-1/5 " href="{{ path("app_login") }}"><img src="{{ asset("image/logoEni.png") }}" alt="Sortir.com"></a>
            {% endif %}
        <h1 class="text-7xl w-4/5 text-center ">Sortir.com</h1>
        </div>
       {% include ("inc/nav.html.twig") %}
    </header>


{% block body %}
    Placeholder
{% endblock %}


<footer class="footer footer-center bg-base-300 rounded-box">
    <div>{{ "now" | date("Y") }} Sortir.com</div>
</footer>

</body>
</html>