<nav>
    <ul>
        <li><a id="lien" href="{{ path('main_accueil_deconecte') }}" title="Accueil">Accueil</a></li>
        <li><a id="lien" href="{{ path('main_accueil_conecte') }}" title="AccueilCo">Accueil Connecté</a></li>
        <li><a id="lien" href="{{ path('app_login') }}" title="Connexion">Connexion</a></li>
        <li><a id="lien" href="{{ path('participant_new') }}" title="createUser">Inscription</a></li>
        <li><a id="lien" href="{{ path('sortie_new') }}" title="CreateSortie">Créer une sortie</a></li>
        <li><a id="lien" href="{{ path('sortie_index') }}" title="DetailsSortie">Détails de la sortie</a></li>
        <li><a id="lien" href="{{ path('admin_index') }}" title="DetailsSortie">Accès Admin</a></li>
    </ul>
</nav>
