<nav>
    <ul>
        <li><a href="{{ path('main_accueil') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('main_accueilCo') }}" title="AccueilCo">Accueil Connecté</a></li>
        <li><a href="{{ path('user_Login') }}" title="Connexion">Connexion</a></li>
        <li><a href="{{ path('user_createUser') }}" title="createUser">Inscription</a></li>
        <li><a href="{{ path('sortie_create') }}" title="CreateSortie">Créer une sortie</a></li>
        <li><a href="{{ path('sortie_details') }}" title="DetailsSortie">Détails de la sortie</a></li>
    </ul>
</nav>