<nav class="navbar shadow-lg bg-base-300 text-neutral-content rounded-box justify-around ">

        {% if app.user("ROLE_USER") %}
            <a class="btn-sm" id="lien" href="{{ path('sortie_index') }}" title="ListSortie">Accueil</a>
            <a class="btn-sm" id="lien" href="{{ path('participant_modifier',{'id':app.user.id}) }}" title="modifier profil">Modifier profil</a>
            {% if is_granted("ROLE_ADMIN")%}
                <a class="btn-sm" id="lien" href="{{ path('admin_index') }}" title="Accès Admin">Accès Admin</a>

            {% endif %}
            <form method="post" action="{{ path('app_logout') }}" onclick="return confirm('Voulez-vous vous déconnecter ?');">
                <a class="btn-sm" id="lien" href="{{ path('app_logout') }}" title="Deconnexion">Déconnexion</a>
            </form>




        {% else %}
        <a class="btn-sm" id="lien" href="{{ path('app_login') }}" title="TEMP - Vue Accueil Deconnecte / Page de connexion">Accueil</a>

        {% endif %}

</nav>
